<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Search for a specific school</strong>
    </ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content>
 
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

  <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
  </div>

  <ion-list>
      <ion-item [(ngModel)]="itemz" color="primary" *ngFor="let item of items" class="spinner-container" tappable (click)="reg($event,item)">
        {{item.title}}
      </ion-item>
  </ion-list>
 
</ion-content>