page-train,

.section_title {
    font-family:Helvetica,Arial;
    font-weight: 700;
    text-align: center;
    line-height: 150%;
    color: #000;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}

.btn-default, .btn-default:hover {
    font-family: droid arabic kufi,Helvetica,Arial;
    background-color: #0477a0;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
.btn-default {
    color: #333;
    background-color: #0477a0;
    border-color: rgb(204, 204, 204);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
   
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #000;
}

a {
    background-color: transparent;
}

.notice {
    padding: 1em;
    margin-bottom: .5em;
    margin-top: .5em;
    background-color: #dc143c;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    font-style: bold;
}