page-tableeghac ,

.row {
  margin-left: -10px;
  margin-right: -10px;
}

element.style {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
element.style {
  padding-left: 5px;
  padding-right: 5px;
}
label {
  font-weight: normal;
  margin-bottom: 5px !important;
  color: #4a535e;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.eservices .form-control {
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 10px;
}
.panel-primary .panel-heading, .panel-success .panel-heading, .panel-warning .panel-heading, .panel-danger .panel-heading, .panel-info .panel-heading {
  border-bottom: 0;
}
.panel-heading {
  padding: 12px;
  background-color: #5280a4 !important;
  border-radius: 0px !important;
}
.panel-heading, .panel-footer {
  background: #fff;
  border-color: #eee;
  border-radius: 0px !important;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-body {
  padding: 20px;
}
.panel-body {
  padding: 15px;
}
.panel-body:before, .panel-body:after {
  display: table;
  content: " ";
}
.panel-body:before, .panel-body:after {
  display: table;
  content: " ";
}

